#outer
{
    text-align: center;
    height:30vh;
    width:100%;
    margin-top:10%;
    background-color: #f0f8ff;
}
h1{
    font-size:3.0rem;
}
#button
{
    font-size:1.2rem;
    padding : 1%;
   
}
#courses
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.course
{
    
    max-height:220px;
    max-width:270px;
     margin:1%;
     display: flex;
     flex-wrap: wrap;
     border:1px solid gray;
     justify-content: center;
    
}
.course img{
    height:60%;
    width:80%;
}
.name
{
    text-align: left;
    font-size:1.2rem;
    width:100%;
}
.type
{
    text-align: right;
    font-size:1.2rem;
    width:100%;
    padding:1% 1% 0% 0%;
}